// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: black;
}

.projects {
  background-color: black;
  list-style: none;
}

.build {
  margin: 4px;
  padding: 10px 10px;
  border-radius: 10px;

  &.success {
    background-color: green;
  }

  &.failure {
    background-color: red;
  }
}

.name {
  font-size: 30px;
  color: white;
}
